<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.example.chuchuping2.mapper.CharacterMapper">
    <select id="selectAllCharacters" resultType="org.example.chuchuping2.vo.CharacterVO">
        SELECT id, name, image_url AS imageUrl
        FROM characters
    </select>
</mapper>
